<script setup lang="ts">
defineProps<{
  text: string;
  coords: { x: number, y: number };
}>();
</script>

<template>
  <svg class="svg-test-1">
    <text
      class="svg-text"
      x="50%"
      y="50%"
      dominant-baseline="middle"
      text-anchor="middle"
    >{{ text }}
    </text>
    <path
      class="svg-path-1"
      :d="`M${coords.x} ${coords.y} L${coords.x - 50} ${coords.y + 50} L${coords.x + 50} ${coords.y + 50} Z`"
    />
    <path
      class="svg-path-2"
      :d="`M${coords.x} ${coords.y} L75 200 L225 200 Z`"
    />
  </svg>
</template>

<style lang="scss" scoped>
.svg-test-1 {
  width: 100%;
  height: 100%;
}

.svg-text {
  fill: white;
}

.svg-path-1 {
  transform-origin: center;
  animation: testAnim 3s infinite linear;
  fill: white;

  &:hover {
    fill: violet;
  }
}

@keyframes testAnim {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
</style>
