<script setup lang="ts">
import { useMouseInElement } from "@vueuse/core";
import { ref } from "vue";
import SvgTest1 from "./components/SvgTest1.vue";

const svgContainer = ref(null);
const { x, y, isOutside } = useMouseInElement(svgContainer);
</script>

<template>
  <header />
  <main>
    <div class="content">
      <span>Mouse coords: x={{ x }}, y={{ y }}, isOutside={{ isOutside }}</span>
      <SvgTest1
        ref="svgContainer"
        text="This is text"
        :coords="{x, y}"
      />
    </div>
  </main>
</template>

<style lang="scss">
@import "./assets/base.css";

main {
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
</style>
